* {
  font-family: var(--font-text);
}

header {
  background-color: var(--color-accent);
  transition: all .1s ease-out;
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
}

a {
  font-family: var(--font-text);
  color: var(--color-white);
  border-bottom: 2px solid transparent;
  transition: all .6s ease-out;
  -webkit-transition: all .6s ease-out;
  -moz-transition: all .6s ease-out;
}

header:hover a {
  color: var(--color-accent);
}

header a:hover {
  border-bottom: 2px solid var(--color-primary-one);
}

.logo-name {
  color: var(--color-white);
  transition: all .6s linear;
  letter-spacing: 2px;
  -webkit-transition: all .6s linear;
  -moz-transition: all .6s linear;
}

.logo-name span {
  color: var(--color-primary-one);
  -webkit-text-stroke: 0px;
  font-size: 1.9em;
  font-weight: bold;
}

header:hover {
  background-color: var(--color-white);
  transition: all .1s ease-out;
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
}

header:hover .logo-name {
  color: var(--color-accent);
}

.h-toggle-containter {
  position: relative;
  width: 20px;
  height: 20px;
}

.h-toggle {
  position: absolute;
  right: 9px;
  top: 9px;
}

.h-item1,
.h-item2,
.h-item3 {
  border-bottom: 2px solid var(--color-white);
  height: 8px;
  width: 30px;
  transition: all .6s ease-out;
  -webkit-transition: all .6s ease-out;
  -moz-transition: all .6s ease-out;
}

header:hover .h-toggle > .h-item1,
header:hover .h-toggle > .h-item2,
header:hover .h-toggle > .h-item3 {
  border-color: var(--color-accent);
}

/* Homepage */
.welcome-sec {
  height: 80vh;
  /* background: rgba(0, 0, 0, .9); */
  background-color: var(--color-accent);
}

.welcome-content h2 {
  color: var(--color-primary-one);
  letter-spacing: 8px;
}

.welcome-content p {
  color: var(--color-white);
  padding-right: 16em;

}
